.block-animation {
  background-color: bisque;
  width: 100px;
  height: 100px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.block-animation:hover {
  width: 300px;
  height: 300px;
  background-color: aqua;
}
